pipeline/API_CVR_pipeline.json
{
	"name": "API_CVR_pipeline",
	"properties": {
		"activities": [
			{
				"name": "CVR_API_TO_SQL",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    \"_source\":[\n        \"Vrvirksomhed.cvrNummer\",\n        \"Vrvirksomhed.livsforloeb.periode.gyldigTil\", \n        \"Vrvirksomhed.livsforloeb.periode.gyldigFra\",\n        \"Vrvirksomhed.reklamebeskyttet\",\n        \"Vrvirksomhed.sidstIndlaest\",\n        \"Vrvirksomhed.virksomhedMetadata\"\n    ],\n    \"track_total_hits\": true,\n    \"query\":{\n        \"bool\":{\n            \"must\":[\n                {\"nested\":{\n                    \"path\":\"Vrvirksomhed.livsforloeb\",\n                    \"query\":{\n                        \"bool\": {\n                            \"must_not\":[{\"exists\":{\"field\":\"Vrvirksomhed.livsforloeb.periode.gyldigTil\"}}],\n                            \"filter\": [{\n                                \"range\": {\n                                    \"Vrvirksomhed.livsforloeb.periode.gyldigFra\": {\n                                        \"gte\": \"1950-01-01\"\n                                        ,\n                                        \"lte\": \"1950-12-31\"\n                                    }\n                                }\n                            }]\n                        }\n                    }\n                }}\n            ]\n        }\n    }\n    ,\n    \"size\":10\n}",
						"additionalHeaders": {
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [dbo].[TESTCVR];",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cvrNummer"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['navn']"
								},
								"sink": {
									"name": "navne",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['hits']['hits']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": {
								"value": "@concat('cvr-permanent/virksomhed/_search?scroll=4m')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_total_hits",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set scroll_id",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT total_hits FROM testcvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set total hits",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup_total_hits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_hits",
					"value": {
						"value": "@activity('Lookup_total_hits').output.firstRow.total_hits",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set scroll_id",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup_scroll_id",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_scroll_id",
					"value": {
						"value": "@activity('Lookup2').output.value[0]['_scroll_id']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_scroll_id",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "CVR_API_TO_SQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT _scroll_id FROM testcvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set total hits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n        \"scroll\":\"4m\",\n        \"scroll_id\":\"',variables('last_scroll_id'),'\"\n        }'\n        )",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"EndCondition:$['hits']['hits']": "Empty"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cvrNummer"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['navn']"
								},
								"sink": {
									"name": "navne",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['hits']['hits']"
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": "_search/scroll"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CVR_API_TO_SQL_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    \"_source\":[\n        \"Vrvirksomhed.cvrNummer\",\n        \"Vrvirksomhed.livsforloeb.periode.gyldigTil\", \n        \"Vrvirksomhed.livsforloeb.periode.gyldigFra\",\n        \"Vrvirksomhed.reklamebeskyttet\",\n        \"Vrvirksomhed.sidstIndlaest\",\n        \"Vrvirksomhed.virksomhedMetadata\"\n    ],\n    \"track_total_hits\": true,\n    \"query\":{\n        \"bool\":{\n            \"must\":[\n                {\"nested\":{\n                    \"path\":\"Vrvirksomhed.livsforloeb\",\n                    \"query\":{\n                        \"bool\": {\n                            \"must_not\":[{\"exists\":{\"field\":\"Vrvirksomhed.livsforloeb.periode.gyldigTil\"}}],\n                            \"filter\": [{\n                                \"range\": {\n                                    \"Vrvirksomhed.livsforloeb.periode.gyldigFra\": {\n                                        \"gte\": \"1950-01-01\"\n                                        ,\n                                        \"lte\": \"1950-12-31\"\n                                    }\n                                }\n                            }]\n                        }\n                    }\n                }}\n            ]\n        }\n    }\n    ,\n    \"size\":10\n}",
						"additionalHeaders": {
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [dbo].[CVR];",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cvrNummer"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['navn']"
								},
								"sink": {
									"name": "navne",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteStatus']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBibranche1']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKvartalsbeskaeftigelse']['kvartal']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKvartalsbeskaeftigelse']['intervalKodeAntalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKvartalsbeskaeftigelse']['aar']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKvartalsbeskaeftigelse']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKvartalsbeskaeftigelse']['intervalKodeAntalAarsvaerk']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKvartalsbeskaeftigelse']['antalAarsvaerk']"
								},
								"sink": {
									"name": "antalAarsvaerk",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKvartalsbeskaeftigelse']['antalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['antalPenheder']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchetekst']"
								},
								"sink": {
									"name": "branchetekst",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchekode']"
								},
								"sink": {
									"name": "branchekode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBibranche3']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBibranche2']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['vejkode']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['fritekst']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['adresseId']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['vejnavn']"
								},
								"sink": {
									"name": "vejnavn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavTil']"
								},
								"sink": {
									"name": "bogstavTil",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['conavn']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavFra']"
								},
								"sink": {
									"name": "bogstavFra",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['kommuneNavn']"
								},
								"sink": {
									"name": "kommuneNavn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['kommuneKode']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerFra']"
								},
								"sink": {
									"name": "husnummerFra",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postboks']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postnummer']"
								},
								"sink": {
									"name": "postnummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['etage']"
								},
								"sink": {
									"name": "etage",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bynavn']"
								},
								"sink": {
									"name": "bynavn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerTil']"
								},
								"sink": {
									"name": "husnummerTil",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['sidedoer']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['landekode']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['sidstValideret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postdistrikt']"
								},
								"sink": {
									"name": "postdistrikt",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteErstMaanedsbeskaeftigelse']['intervalKodeAntalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteErstMaanedsbeskaeftigelse']['aar']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteErstMaanedsbeskaeftigelse']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteErstMaanedsbeskaeftigelse']['maaned']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteErstMaanedsbeskaeftigelse']['intervalKodeAntalAarsvaerk']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteErstMaanedsbeskaeftigelse']['antalAarsvaerk']"
								},
								"sink": {
									"name": "antalAarsvaerk",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteErstMaanedsbeskaeftigelse']['antalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['intervalKodeAntalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['aar']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['intervalKodeAntalAarsvaerk']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['antalAarsvaerk']"
								},
								"sink": {
									"name": "antalAarsvaerk",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['antalInklusivEjere']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['antalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['intervalKodeAntalInklusivEjere']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteMaanedsbeskaeftigelse']['intervalKodeAntalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteMaanedsbeskaeftigelse']['aar']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteMaanedsbeskaeftigelse']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteMaanedsbeskaeftigelse']['maaned']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteMaanedsbeskaeftigelse']['intervalKodeAntalAarsvaerk']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteMaanedsbeskaeftigelse']['antalAarsvaerk']"
								},
								"sink": {
									"name": "antalAarsvaerk",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteMaanedsbeskaeftigelse']['antalAnsatte']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['virksomhedsformkode']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['langBeskrivelse']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['kortBeskrivelse']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['ansvarligDataleverandoer']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['virkningsDato']"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								}
							},
							{
								"source": {
									"path": "$['hits']['max_score']"
								}
							},
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['took']"
								}
							},
							{
								"source": {
									"path": "$['timed_out']"
								}
							},
							{
								"source": {
									"path": "$['_shards']['total']"
								}
							},
							{
								"source": {
									"path": "$['_shards']['successful']"
								}
							},
							{
								"source": {
									"path": "$['_shards']['skipped']"
								}
							},
							{
								"source": {
									"path": "$['_shards']['failed']"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBinavne'][0]"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteKontaktoplysninger'][0]"
								}
							}
						],
						"collectionReference": "$['hits']['hits']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": {
								"value": "@concat('cvr-permanent/virksomhed/_search?scroll=4m')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_total_hits_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set scroll_id_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT total_hits FROM testcvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set total hits_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_total_hits_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_hits",
					"value": {
						"value": "@activity('Lookup_total_hits').output.firstRow.total_hits",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set scroll_id_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_scroll_id_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_scroll_id",
					"value": {
						"value": "@activity('Lookup2').output.value[0]['_scroll_id']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_scroll_id_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CVR_API_TO_SQL_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT _scroll_id FROM testcvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data2_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set total hits_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n        \"scroll\":\"4m\",\n        \"scroll_id\":\"',variables('last_scroll_id'),'\"\n        }'\n        )",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"EndCondition:$['hits']['hits']": "Empty"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cvrNummer"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['navn']"
								},
								"sink": {
									"name": "navne",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['hits']['hits']"
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": "_search/scroll"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"last_scroll_id": {
				"type": "String"
			},
			"total_hits": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-05T09:01:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}