pipeline/API_yo_BBR_pipeline.json
{
	"name": "API_yo_BBR_pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach_byggekode",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Array byggekoder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('byggekoder')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy to BBR",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ois_id"
										]
									},
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ois_id']"
											},
											"sink": {
												"name": "ois_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ois_ts']"
											},
											"sink": {
												"name": "ois_ts",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Enhed_id']"
											},
											"sink": {
												"name": "Enhed_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ObjStatus']"
											},
											"sink": {
												"name": "ObjStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Nybyg']"
											},
											"sink": {
												"name": "Nybyg",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['CRUD_ID']"
											},
											"sink": {
												"name": "CRUD_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ByggeSag_id']"
											},
											"sink": {
												"name": "ByggeSag_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EnhedStam_id']"
											},
											"sink": {
												"name": "EnhedStam_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EnhAdr_id']"
											},
											"sink": {
												"name": "EnhAdr_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Etage_id']"
											},
											"sink": {
												"name": "Etage_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Opgang_id']"
											},
											"sink": {
												"name": "Opgang_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['HenvEnh_id']"
											},
											"sink": {
												"name": "HenvEnh_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['REF_Enhed_id']"
											},
											"sink": {
												"name": "REF_Enhed_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_ANVEND_KODE']"
											},
											"sink": {
												"name": "ENH_ANVEND_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Klassifikation']"
											},
											"sink": {
												"name": "Klassifikation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['AnvKonvKilde']"
											},
											"sink": {
												"name": "AnvKonvKilde",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['BOLIGTYPE_KODE']"
											},
											"sink": {
												"name": "BOLIGTYPE_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['BOLIG_KONDEM']"
											},
											"sink": {
												"name": "BOLIG_KONDEM",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['IdentOpretDato']"
											},
											"sink": {
												"name": "IdentOpretDato",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_ARL_SAML']"
											},
											"sink": {
												"name": "ENH_ARL_SAML",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['BEBO_ARL']"
											},
											"sink": {
												"name": "BEBO_ARL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_ERHV_ARL']"
											},
											"sink": {
												"name": "ENH_ERHV_ARL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KILDE_ARL_KODE']"
											},
											"sink": {
												"name": "KILDE_ARL_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['VAERELSE_ANT']"
											},
											"sink": {
												"name": "VAERELSE_ANT",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['TOILET_KODE']"
											},
											"sink": {
												"name": "TOILET_KODE",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "input_BBR",
									"type": "DatasetReference",
									"parameters": {
										"byggekode": {
											"value": "@item().kode",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_BBR",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy_to_BBR_single",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['ois_id']"
								},
								"sink": {
									"name": "ois_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ois_ts']"
								},
								"sink": {
									"name": "ois_ts",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Enhed_id']"
								},
								"sink": {
									"name": "Enhed_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ObjStatus']"
								},
								"sink": {
									"name": "ObjStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Nybyg']"
								},
								"sink": {
									"name": "Nybyg",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CRUD_ID']"
								},
								"sink": {
									"name": "CRUD_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ByggeSag_id']"
								},
								"sink": {
									"name": "ByggeSag_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['bygning']['ois_id']"
								},
								"sink": {
									"name": "Bygning.ois_id",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "input_BBR",
						"type": "DatasetReference",
						"parameters": {
							"byggekode": 210
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_BBR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Array byggekoder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup byggekoder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "byggekoder",
					"value": {
						"value": "@activity('Lookup byggekoder').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup byggekoder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from BBR_byggekoder",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"byggekoder": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}