pipeline/API_BBR_pipeline_bygninger_full.json
{
	"name": "API_BBR_pipeline_bygninger_full",
	"properties": {
		"activities": [
			{
				"name": "ForEach_byggekode",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Array byggekoder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('byggekoder')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_to_BBR",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ois_id"
										]
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ois_id']"
											},
											"sink": {
												"name": "ois_id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['AdgAdr_id']"
											},
											"sink": {
												"name": "AdgAdr_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['VARMEINSTAL_KODE']"
											},
											"sink": {
												"name": "VARMEINSTAL_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['OPVARMNING_KODE']"
											},
											"sink": {
												"name": "OPVARMNING_KODE",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "input_BBR_bygninger",
									"type": "DatasetReference",
									"parameters": {
										"byggekode": {
											"value": "@item().kode",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_BBR_bygninger",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Copy_to_BBR",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 4
							}
						}
					]
				}
			},
			{
				"name": "Set Array byggekoder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup byggekoder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "byggekoder",
					"value": {
						"value": "@activity('Lookup byggekoder').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup byggekoder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from BBR_byggekoder",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "byggekoder",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"byggekoder": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}