pipeline/API_to_SQL_pipeline.json
{
	"name": "API_to_SQL_pipeline",
	"properties": {
		"activities": [
			{
				"name": "CVR_API_TO_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    \"_source\":[\n        \"Vrvirksomhed.cvrNummer\",\n        \"Vrvirksomhed.livsforloeb.periode.gyldigTil\", \n        \"Vrvirksomhed.livsforloeb.periode.gyldigFra\",\n        \"Vrvirksomhed.reklamebeskyttet\",\n        \"Vrvirksomhed.sidstIndlaest\",\n        \"Vrvirksomhed.navne\"\n    ],\n    \"track_total_hits\": true,\n    \"query\":{\n        \"bool\":{\n            \"must\":[\n                {\"nested\":{\n                    \"path\":\"Vrvirksomhed.livsforloeb\",\n                    \"query\":{\n                        \"bool\": {\n                            \"must_not\":[{\"exists\":{\"field\":\"Vrvirksomhed.livsforloeb.periode.gyldigTil\"}}],\n                            \"filter\": [{\n                                \"range\": {\n                                    \"Vrvirksomhed.livsforloeb.periode.gyldigFra\": {\n                                        \"gte\": \"1950-01-01\"\n                                        ,\n                                        \"lte\": \"1950-01-31\"\n                                    }\n                                }\n                            }]\n                        }\n                    }\n                }}\n            ]\n        }\n    }\n    ,\n    \"size\":1\n}",
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"MaxRequestNumber": "1"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBatchSize": 10,
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['navne']['navn']"
								},
								"sink": {
									"name": "navne",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['hits']['hits']"
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": {
								"value": "@concat('cvr-permanent/virksomhed/_search?scroll=4m')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set ScrollID",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_scroll_id",
					"value": {
						"value": "@activity('Lookup_scroll_id').output.firstRow._scroll_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_scroll_id",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select _scroll_id from TESTCVR",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CVR_API_TO_SQL_LOOP_PAGES",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n        \"scroll\":\"4m\",\n        \"scroll_id\":\"',variables('last_scroll_id'),'\"}'\n        )",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"EndCondition:$['hits']['hits']": "Empty"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBatchSize": 10,
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['hits']['hits']"
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": "_search/scroll"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_total_hits",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT total_hits FROM testcvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set total hits",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup_total_hits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_hits",
					"value": {
						"value": "@activity('Lookup_total_hits').output.firstRow.total_hits",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,1)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@concat('{\"scroll\":\"4m\",\"scroll_id\":\"',variables('last_scroll_id'),'\"}')",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Content-Type": "application/json"
									},
									"paginationRules": {
										"MaxRequestNumber": {
											"value": "@string(sub(int(variables('total_hits')),1))",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"cvrNummer"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['_scroll_id']"
											},
											"sink": {
												"name": "_scroll_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['took']"
											}
										},
										{
											"source": {
												"path": "$['timed_out']"
											}
										},
										{
											"source": {
												"path": "$['_shards']['total']"
											}
										},
										{
											"source": {
												"path": "$['_shards']['successful']"
											}
										},
										{
											"source": {
												"path": "$['_shards']['skipped']"
											}
										},
										{
											"source": {
												"path": "$['_shards']['failed']"
											}
										},
										{
											"source": {
												"path": "$['hits']['total']"
											}
										},
										{
											"source": {
												"path": "$['hits']['max_score']"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]"
											}
										}
									],
									"collectionReference": "$['hits']['hits']"
								}
							},
							"inputs": [
								{
									"referenceName": "input_CVR",
									"type": "DatasetReference",
									"parameters": {
										"dynamicURL": "_search/scroll"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_CVR",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set last scroll id",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "last_scroll_id",
								"value": {
									"value": "@activity('Lookup1').output.value[0]['_scroll_id']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT _scroll_id FROM testcvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "output_CVR",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_scroll_id",
					"value": {
						"value": "@activity('Lookup2').output.value[0]['_scroll_id']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CVR_API_TO_SQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT _scroll_id FROM testcvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://distribution.virk.dk/cvr-permanent/virksomhed/_search?scroll=4m",
					"method": "POST",
					"headers": {
						"Content_Type": "application/json"
					},
					"body": {
						"_source": [
							"Vrvirksomhed.cvrNummer",
							"Vrvirksomhed.livsforloeb.periode.gyldigTil",
							"Vrvirksomhed.livsforloeb.periode.gyldigFra",
							"Vrvirksomhed.reklamebeskyttet",
							"Vrvirksomhed.sidstIndlaest"
						],
						"track_total_hits": true,
						"query": {
							"bool": {
								"must": [
									{
										"nested": {
											"path": "Vrvirksomhed.livsforloeb",
											"query": {
												"bool": {
													"must_not": [
														{
															"exists": {
																"field": "Vrvirksomhed.livsforloeb.periode.gyldigTil"
															}
														}
													],
													"filter": [
														{
															"range": {
																"Vrvirksomhed.livsforloeb.periode.gyldigFra": {
																	"gte": "1950-01-01",
																	"lte": "1950-01-31"
																}
															}
														}
													]
												}
											}
										}
									}
								]
							}
						},
						"size": 1
					},
					"authentication": {
						"type": "Basic",
						"username": "FIFONETWORK_CVR_I_SKYEN",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault1",
								"type": "LinkedServiceReference"
							},
							"secretName": "cvrSecret"
						}
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@activity('Web1').output._scroll_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CVR_API_TO_SQL_LOOP_PAGES_copy1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n        \"scroll\":\"4m\",\n        \"scroll_id\":\"',variables('test'),'\"}'\n        )",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"MaxRequestNumber": "100"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cvrNummer"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['hits']['hits']"
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": "_search/scroll"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n        \"scroll\":\"4m\",\n        \"scroll_id\":\"',variables('last_scroll_id'),'\"}'\n        )",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content_Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cvrNummer"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['navne'][0]['navn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['navne'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['navne'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['navne'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['binavne'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['postadresse'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['landekode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['fritekst']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['vejkode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['kommune']['kommuneKode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['kommune']['kommuneNavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['kommune']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['kommune']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['kommune']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['husnummerFra']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['adresseId']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['sidstValideret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['husnummerTil']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['bogstavFra']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['bogstavTil']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['etage']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['sidedoer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['conavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['postboks']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['vejnavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['bynavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['postnummer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['postdistrikt']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['beliggenhedsadresse'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['telefonNummer'][0]['kontaktoplysning']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['telefonNummer'][0]['hemmelig']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['telefonNummer'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['telefonNummer'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['telefonNummer'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['telefaxNummer'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sekundaertTelefonNummer'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sekundaertTelefaxNummer'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['elektroniskPost'][0]['kontaktoplysning']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['elektroniskPost'][0]['hemmelig']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['elektroniskPost'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['elektroniskPost'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['elektroniskPost'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['hjemmeside'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['obligatoriskEmail'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['hovedbranche'][0]['branchekode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['hovedbranche'][0]['branchetekst']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['hovedbranche'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['hovedbranche'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['hovedbranche'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['bibranche1'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['bibranche2'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['bibranche3'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['status'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsstatus'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsform'][0]['virksomhedsformkode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsform'][0]['kortBeskrivelse']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsform'][0]['langBeskrivelse']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsform'][0]['ansvarligDataleverandoer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsform'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsform'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedsform'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['aar']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['antalInklusivEjere']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['antalAarsvaerk']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['antalAnsatte']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['intervalKodeAntalInklusivEjere']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['intervalKodeAntalAarsvaerk']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['aarsbeskaeftigelse'][0]['intervalKodeAntalAnsatte']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['kvartalsbeskaeftigelse'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['maanedsbeskaeftigelse'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['erstMaanedsbeskaeftigelse'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['attributter'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['penheder'][0]['pNummer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['penheder'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['penheder'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['penheder'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['enhedsNummer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['enhedstype']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['forretningsnoegle']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['organisationstype']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['navne'][0]['navn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['navne'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['navne'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['navne'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['adresseHemmelig']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['adresseHemmeligUndtagelse']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['adresseOpdateringOphoert']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['landekode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['fritekst']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['vejkode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['kommune']['kommuneKode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['kommune']['kommuneNavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['kommune']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['kommune']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['kommune']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['husnummerFra']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['adresseId']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['sidstValideret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['husnummerTil']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['bogstavFra']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['bogstavTil']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['etage']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['sidedoer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['conavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['postboks']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['vejnavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['bynavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['postnummer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['postdistrikt']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['beliggenhedsadresse'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['deltager']['postadresse'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['kontorsteder'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['enhedsNummerOrganisation']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['hovedtype']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['organisationsNavn'][0]['navn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['organisationsNavn'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['organisationsNavn'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['organisationsNavn'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['attributter'][0]['sekvensnr']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['attributter'][0]['type']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['attributter'][0]['vaerditype']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['attributter'][0]['vaerdier'][0]['vaerdi']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['attributter'][0]['vaerdier'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['attributter'][0]['vaerdier'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['attributter'][0]['vaerdier'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['medlemsData'][0]['attributter'][0]['sekvensnr']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['medlemsData'][0]['attributter'][0]['type']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['medlemsData'][0]['attributter'][0]['vaerditype']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['medlemsData'][0]['attributter'][0]['vaerdier'][0]['vaerdi']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['medlemsData'][0]['attributter'][0]['vaerdier'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['medlemsData'][0]['attributter'][0]['vaerdier'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['deltagerRelation'][0]['organisationer'][0]['medlemsData'][0]['attributter'][0]['vaerdier'][0]['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['fusioner'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['spaltninger'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['navn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBinavne'][0]"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['virksomhedsformkode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['kortBeskrivelse']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['langBeskrivelse']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['ansvarligDataleverandoer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['landekode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['fritekst']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['vejkode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['kommuneKode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['kommuneNavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerFra']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['adresseId']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['sidstValideret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerTil']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavFra']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavTil']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['etage']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['sidedoer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['conavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postboks']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['vejnavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bynavn']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postnummer']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postdistrikt']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['sidstOpdateret']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchekode']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchetekst']"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['hits']['hits']"
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": "cvr-permanent/virksomhed/_search?scroll=2m"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"last_scroll_id": {
				"type": "String"
			},
			"total_hits": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-05T09:01:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}