pipeline/API_CVR_pipeline.json
{
	"name": "API_CVR_pipeline",
	"properties": {
		"activities": [
			{
				"name": "CVR_API_TO_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    \"_source\":[\n        \"Vrvirksomhed.cvrNummer\",\n        \"Vrvirksomhed.livsforloeb.periode.gyldigTil\", \n        \"Vrvirksomhed.livsforloeb.periode.gyldigFra\",\n        \"Vrvirksomhed.reklamebeskyttet\",\n        \"Vrvirksomhed.sidstIndlaest\",\n        \"Vrvirksomhed.virksomhedMetadata\",\n        \"Vrvirksomhed.enhedstype\"\n    ],\n    \"track_total_hits\": true,\n    \"query\":{\n        \"bool\":{\n            \"must\":[\n                {\"nested\":{\n                    \"path\":\"Vrvirksomhed.livsforloeb\",\n                    \"query\":{\n                        \"bool\": {\n                            \"must_not\":[{\"exists\":{\"field\":\"Vrvirksomhed.livsforloeb.periode.gyldigTil\"}}],\n                            \"filter\": [{\n                                \"range\": {\n                                    \"Vrvirksomhed.livsforloeb.periode.gyldigFra\": {\n                                        \"gte\": \"1900-01-01\"\n                                        ,\n                                        \"lte\": \"2025-12-31\"\n                                    }\n                                }\n                            }]\n                        }\n                    }\n                }}\n                ,\n                {\n                    \"bool\": {\n                        \"filter\": [\n                            {\n                                \"range\": {\n                                    \"Vrvirksomhed.virksomhedMetadata.nyesteNavn.sidstOpdateret\": {\n                                        \"gte\": \"2023-09-17T10:00:00.000\"\n                                    }\n                                }\n                            }\n                        ]\n                    }\n                }\n            ]\n        }\n    }\n    ,\n    \"size\":10\n}\n                                    ",
						"additionalHeaders": {
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cvrNummer"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['enhedstype']"
								},
								"sink": {
									"name": "enhedstype",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['navn']"
								},
								"sink": {
									"name": "navn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchetekst']"
								},
								"sink": {
									"name": "branchetekst",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchekode']"
								},
								"sink": {
									"name": "branchekode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['adresseId']"
								},
								"sink": {
									"name": "adresseId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['vejnavn']"
								},
								"sink": {
									"name": "vejnavn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavTil']"
								},
								"sink": {
									"name": "bogstavTil",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavFra']"
								},
								"sink": {
									"name": "bogstavFra",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['kommuneNavn']"
								},
								"sink": {
									"name": "kommuneNavn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerFra']"
								},
								"sink": {
									"name": "husnummerFra",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postnummer']"
								},
								"sink": {
									"name": "postnummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['etage']"
								},
								"sink": {
									"name": "etage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bynavn']"
								},
								"sink": {
									"name": "bynavn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerTil']"
								},
								"sink": {
									"name": "husnummerTil",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postdistrikt']"
								},
								"sink": {
									"name": "postdistrikt",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteAarsbeskaeftigelse']['antalAarsvaerk']"
								},
								"sink": {
									"name": "antalAarsvaerk",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['langBeskrivelse']"
								},
								"sink": {
									"name": "nyesteVirksomhedsform",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['['_source\\\\'][\\\\'Vrvirksomhed\\\\'][\\\\'virksomhedMetadata\\\\'][\\\\'nyesteBibranche1\\\\'][\\\\'branchekode\\\\']']"
								},
								"sink": {
									"name": "bi_branche1_kode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['[\\\\'_source\\\\'][\\\\'Vrvirksomhed\\\\'][\\\\'virksomhedMetadata\\\\'][\\\\'nyesteBibranche1\\\\'][\\\\'branchetekst\\\\']']"
								},
								"sink": {
									"name": "bi_branche1_tekst",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['[\\\\'_source\\\\'][\\\\'Vrvirksomhed\\\\'][\\\\'virksomhedMetadata\\\\'][\\\\'nyesteBibranche2\\\\'][\\\\'branchekode\\\\']']"
								},
								"sink": {
									"name": "bi_branche2_kode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['[\\\\'_source\\\\'][\\\\'Vrvirksomhed\\\\'][\\\\'virksomhedMetadata\\\\'][\\\\'nyesteBibranche2\\\\'][\\\\'branchetekst\\\\']']"
								},
								"sink": {
									"name": "bi_branche2_tekst",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['[\\\\'_source\\\\'][\\\\'Vrvirksomhed\\\\'][\\\\'virksomhedMetadata\\\\'][\\\\'nyesteBibranche3\\\\'][\\\\'branchekode\\\\']']"
								},
								"sink": {
									"name": "bi_branche3_kode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['[\\\\'_source\\\\'][\\\\'Vrvirksomhed\\\\'][\\\\'virksomhedMetadata\\\\'][\\\\'nyesteBibranche3\\\\'][\\\\'branchetekst\\\\']']"
								},
								"sink": {
									"name": "bi_branche3_tekst",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['hits']['hits']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": {
								"value": "@concat('cvr-permanent/virksomhed/_search?scroll=4m')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If_total_hits_greater_than_thousand",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_total_hits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('total_hits')), 1000)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set scroll_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup_scroll_id",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "last_scroll_id",
								"value": {
									"value": "@activity('Lookup_scroll_id').output.value[0]['_scroll_id']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup_scroll_id",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT _scroll_id FROM cvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "output_CVR",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Copy_to_CVR_pagination",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set scroll_id",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@concat('{\n        \"scroll\":\"4m\",\n        \"scroll_id\":\"',variables('last_scroll_id'),'\"\n        }'\n        )",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Content-Type": "application/json"
									},
									"paginationRules": {
										"EndCondition:$['hits']['hits']": "Empty"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"cvrNummer"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['cvrNummer']"
											},
											"sink": {
												"name": "cvrNummer",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['sidstIndlaest']"
											},
											"sink": {
												"name": "sidstIndlaest",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['reklamebeskyttet']"
											},
											"sink": {
												"name": "reklamebeskyttet",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['enhedstype']"
											},
											"sink": {
												"name": "enhedstype",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteNavn']['navn']"
											},
											"sink": {
												"name": "navn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchetekst']"
											},
											"sink": {
												"name": "branchetekst",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteHovedbranche']['branchekode']"
											},
											"sink": {
												"name": "branchekode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['adresseId']"
											},
											"sink": {
												"name": "adresseId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['vejnavn']"
											},
											"sink": {
												"name": "vejnavn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavTil']"
											},
											"sink": {
												"name": "bogstavTil",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bogstavFra']"
											},
											"sink": {
												"name": "bogstavFra",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['kommune']['kommuneNavn']"
											},
											"sink": {
												"name": "kommuneNavn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerFra']"
											},
											"sink": {
												"name": "husnummerFra",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postnummer']"
											},
											"sink": {
												"name": "postnummer",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['etage']"
											},
											"sink": {
												"name": "etage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['bynavn']"
											},
											"sink": {
												"name": "bynavn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['husnummerTil']"
											},
											"sink": {
												"name": "husnummerTil",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteBeliggenhedsadresse']['postdistrikt']"
											},
											"sink": {
												"name": "postdistrikt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['virksomhedMetadata']['nyesteVirksomhedsform']['langBeskrivelse']"
											},
											"sink": {
												"name": "nyesteVirksomhedsform",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['hits']['total']"
											},
											"sink": {
												"name": "total_hits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['_scroll_id']"
											},
											"sink": {
												"name": "_scroll_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
											},
											"sink": {
												"name": "gyldigFra",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
											},
											"sink": {
												"name": "gyldigTil",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['[\\'_source\\'][\\'Vrvirksomhed\\'][\\'virksomhedMetadata\\'][\\'nyesteBibranche1\\'][\\'branchekode\\']']"
											},
											"sink": {
												"name": "bi_branche1_kode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['[\\'_source\\'][\\'Vrvirksomhed\\'][\\'virksomhedMetadata\\'][\\'nyesteBibranche1\\'][\\'branchetekst\\']']"
											},
											"sink": {
												"name": "bi_branche1_tekst",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['[\\'_source\\'][\\'Vrvirksomhed\\'][\\'virksomhedMetadata\\'][\\'nyesteBibranche2\\'][\\'branchekode\\']']"
											},
											"sink": {
												"name": "bi_branche2_kode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['[\\'_source\\'][\\'Vrvirksomhed\\'][\\'virksomhedMetadata\\'][\\'nyesteBibranche2\\'][\\'branchetekst\\']']"
											},
											"sink": {
												"name": "bi_branche2_tekst",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['[\\'_source\\'][\\'Vrvirksomhed\\'][\\'virksomhedMetadata\\'][\\'nyesteBibranche3\\'][\\'branchekode\\']']"
											},
											"sink": {
												"name": "bi_branche3_kode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['[\\'_source\\'][\\'Vrvirksomhed\\'][\\'virksomhedMetadata\\'][\\'nyesteBibranche3\\'][\\'branchetekst\\']']"
											},
											"sink": {
												"name": "bi_branche3_tekst",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['hits']['hits']"
								}
							},
							"inputs": [
								{
									"referenceName": "input_CVR",
									"type": "DatasetReference",
									"parameters": {
										"dynamicURL": "_search/scroll"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_CVR",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_total_hits",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CVR_API_TO_SQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT total_hits FROM cvr\nORDER BY insert_timestamp DESC \nOFFSET 0 ROWS FETCH FIRST 1 ROW ONLY;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_total_hits",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_total_hits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_hits",
					"value": {
						"value": "@activity('Lookup_total_hits').output.firstRow.total_hits",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"last_scroll_id": {
				"type": "String"
			},
			"total_hits": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-05T09:01:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}