pipeline/API_to_SQL_pipeline.json
{
	"name": "API_to_SQL_pipeline",
	"properties": {
		"activities": [
			{
				"name": "CVR_API_TO_SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    \"_source\":[\n        \"Vrvirksomhed.cvrNummer\",\n        \"Vrvirksomhed.livsforloeb.periode.gyldigTil\", \n        \"Vrvirksomhed.livsforloeb.periode.gyldigFra\",\n        \"Vrvirksomhed.reklamebeskyttet\",\n        \"Vrvirksomhed.sidstIndlaest\"\n    ],\n    \"track_total_hits\": true,\n    \"query\":{\n        \"bool\":{\n            \"must\":[\n                {\"nested\":{\n                    \"path\":\"Vrvirksomhed.livsforloeb\",\n                    \"query\":{\n                        \"bool\": {\n                            \"must_not\":[{\"exists\":{\"field\":\"Vrvirksomhed.livsforloeb.periode.gyldigTil\"}}],\n                            \"filter\": [{\n                                \"range\": {\n                                    \"Vrvirksomhed.livsforloeb.periode.gyldigFra\": {\n                                        \"gte\": \"1910-01-01\"\n                                        ,\n                                        \"lte\": \"1940-01-01\"\n                                    }\n                                }\n                            }]\n                        }\n                    }\n                }}\n            ]\n        }\n    }\n    ,\n    \"size\":20\n}",
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['hits']['hits']"
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": {
								"value": "@concat('cvr-permanent/virksomhed/_search?scroll=4m')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set ScrollID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_scroll_id",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_scroll_id",
					"value": {
						"value": "@activity('Lookup_scroll_id').output.firstRow._scroll_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_scroll_id",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CVR_API_TO_SQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select _scroll_id from TESTCVR",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CVR_API_TO_SQL_LOOP_PAGES",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set total hits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\n        \"scroll\":\"4m\",\n        \"scroll_id\":\"',variables('last_scroll_id'),'\"}'\n        )",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"MaxRequestNumber": {
								"value": "@string(variables('total_hits'))",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_scroll_id']"
								},
								"sink": {
									"name": "_scroll_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['hits']['total']"
								},
								"sink": {
									"name": "total_hits",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
								},
								"sink": {
									"name": "gyldigFra",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
								},
								"sink": {
									"name": "gyldigTil",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['cvrNummer']"
								},
								"sink": {
									"name": "cvrNummer",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sidstIndlaest']"
								},
								"sink": {
									"name": "sidstIndlaest",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['reklamebeskyttet']"
								},
								"sink": {
									"name": "reklamebeskyttet",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "input_CVR",
						"type": "DatasetReference",
						"parameters": {
							"dynamicURL": "_search/scroll"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_total_hits",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set ScrollID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select total_hits from TESTCVR",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "output_CVR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set total hits",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_total_hits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_hits",
					"value": {
						"value": "@activity('Lookup_total_hits').output.firstRow.total_hits",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,20)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set last scroll id",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@concat('{\"scroll\":\"4m\",\"scroll_id\":\"',variables('last_scroll_id'),'\"}')",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Content-Type": "application/json"
									},
									"paginationRules": {
										"MaxRequestNumber": {
											"value": "@string(variables('total_hits'))",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['_scroll_id']"
											},
											"sink": {
												"name": "_scroll_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['hits']['total']"
											},
											"sink": {
												"name": "total_hits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
											},
											"sink": {
												"name": "gyldigFra",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
											},
											"sink": {
												"name": "gyldigTil",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['cvrNummer']"
											},
											"sink": {
												"name": "cvrNummer",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sidstIndlaest']"
											},
											"sink": {
												"name": "sidstIndlaest",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['reklamebeskyttet']"
											},
											"sink": {
												"name": "reklamebeskyttet",
												"type": "Boolean"
											}
										}
									],
									"collectionReference": "$['hits']['hits']"
								}
							},
							"inputs": [
								{
									"referenceName": "input_CVR",
									"type": "DatasetReference",
									"parameters": {
										"dynamicURL": "_search/scroll"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_CVR",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set last scroll id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "last_scroll_id",
								"value": {
									"value": "@activity('Lookup1').output.firstRow._scroll_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select _scroll_id from TESTCVR",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "output_CVR",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"last_scroll_id": {
				"type": "String"
			},
			"total_hits": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-05T09:01:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}