pipeline/API_yo_BBR_pipeline.json
{
	"name": "API_yo_BBR_pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach_byggekode",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Array byggekoder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('byggekoder')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy to BBR",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ois_id"
										]
									},
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['ois_id']"
											},
											"sink": {
												"name": "ois_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ois_ts']"
											},
											"sink": {
												"name": "ois_ts",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Enhed_id']"
											},
											"sink": {
												"name": "Enhed_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ObjStatus']"
											},
											"sink": {
												"name": "ObjStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Nybyg']"
											},
											"sink": {
												"name": "Nybyg",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['CRUD_ID']"
											},
											"sink": {
												"name": "CRUD_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ByggeSag_id']"
											},
											"sink": {
												"name": "ByggeSag_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EnhedStam_id']"
											},
											"sink": {
												"name": "EnhedStam_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['EnhAdr_id']"
											},
											"sink": {
												"name": "EnhAdr_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Etage_id']"
											},
											"sink": {
												"name": "Etage_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Opgang_id']"
											},
											"sink": {
												"name": "Opgang_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['HenvEnh_id']"
											},
											"sink": {
												"name": "HenvEnh_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['REF_Enhed_id']"
											},
											"sink": {
												"name": "REF_Enhed_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_ANVEND_KODE']"
											},
											"sink": {
												"name": "ENH_ANVEND_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Klassifikation']"
											},
											"sink": {
												"name": "Klassifikation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['AnvKonvKilde']"
											},
											"sink": {
												"name": "AnvKonvKilde",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['BOLIGTYPE_KODE']"
											},
											"sink": {
												"name": "BOLIGTYPE_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['BOLIG_KONDEM']"
											},
											"sink": {
												"name": "BOLIG_KONDEM",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['IdentOpretDato']"
											},
											"sink": {
												"name": "IdentOpretDato",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_ARL_SAML']"
											},
											"sink": {
												"name": "ENH_ARL_SAML",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['BEBO_ARL']"
											},
											"sink": {
												"name": "BEBO_ARL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_ERHV_ARL']"
											},
											"sink": {
												"name": "ENH_ERHV_ARL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KILDE_ARL_KODE']"
											},
											"sink": {
												"name": "KILDE_ARL_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['VAERELSE_ANT']"
											},
											"sink": {
												"name": "VAERELSE_ANT",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['TOILET_KODE']"
											},
											"sink": {
												"name": "TOILET_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['BAD_KODE']"
											},
											"sink": {
												"name": "BAD_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KOEKKEN_KODE']"
											},
											"sink": {
												"name": "KOEKKEN_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENERGI_KODE']"
											},
											"sink": {
												"name": "ENERGI_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_UDLEJ1_KODE']"
											},
											"sink": {
												"name": "ENH_UDLEJ1_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['HusLeje']"
											},
											"sink": {
												"name": "HusLeje",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['HuslejeOplysDato']"
											},
											"sink": {
												"name": "HuslejeOplysDato",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['AndetAreal']"
											},
											"sink": {
												"name": "AndetAreal",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['GodkTomBoligGL']"
											},
											"sink": {
												"name": "GodkTomBoligGL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['LOVLIG_ANVEND_KODE']"
											},
											"sink": {
												"name": "LOVLIG_ANVEND_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DispTidsbegraensetDato']"
											},
											"sink": {
												"name": "DispTidsbegraensetDato",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['SagsType']"
											},
											"sink": {
												"name": "SagsType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_DEL_IBRUG_DATO']"
											},
											"sink": {
												"name": "ENH_DEL_IBRUG_DATO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ENH_UDLEJ2_KODE']"
											},
											"sink": {
												"name": "ENH_UDLEJ2_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['OFF_STOETTE_KODE']"
											},
											"sink": {
												"name": "OFF_STOETTE_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['IndflytDato']"
											},
											"sink": {
												"name": "IndflytDato",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['GodkTomBolig']"
											},
											"sink": {
												"name": "GodkTomBolig",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['VARMEINSTAL_KODE']"
											},
											"sink": {
												"name": "VARMEINSTAL_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['OPVARMNING_KODE']"
											},
											"sink": {
												"name": "OPVARMNING_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['VARME_SUPPL_KODE']"
											},
											"sink": {
												"name": "VARME_SUPPL_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['FaellesAdgArealAndel']"
											},
											"sink": {
												"name": "FaellesAdgArealAndel",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['AabenOverdaekAreal']"
											},
											"sink": {
												"name": "AabenOverdaekAreal",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['LukOverdaekAreal']"
											},
											"sink": {
												"name": "LukOverdaekAreal",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['VAER_ERHV_ANT']"
											},
											"sink": {
												"name": "VAER_ERHV_ANT",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['AntVandskylToilleter']"
											},
											"sink": {
												"name": "AntVandskylToilleter",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['AntBadevaerelser']"
											},
											"sink": {
												"name": "AntBadevaerelser",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KomFelt1']"
											},
											"sink": {
												"name": "KomFelt1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KomFelt2']"
											},
											"sink": {
												"name": "KomFelt2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KomFelt3']"
											},
											"sink": {
												"name": "KomFelt3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KomFelt4']"
											},
											"sink": {
												"name": "KomFelt4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KomFelt5']"
											},
											"sink": {
												"name": "KomFelt5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['KomFelt6']"
											},
											"sink": {
												"name": "KomFelt6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['JourNr']"
											},
											"sink": {
												"name": "JourNr",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ESDH_Ref']"
											},
											"sink": {
												"name": "ESDH_Ref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['SikKlas']"
											},
											"sink": {
												"name": "SikKlas",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['OPRET_TS']"
											},
											"sink": {
												"name": "OPRET_TS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['AENDR_TS']"
											},
											"sink": {
												"name": "AENDR_TS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Aendr_Funk']"
											},
											"sink": {
												"name": "Aendr_Funk",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Ophoert_ts']"
											},
											"sink": {
												"name": "Ophoert_ts",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['Gyldighedsdato']"
											},
											"sink": {
												"name": "Gyldighedsdato",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['ois_id']"
											},
											"sink": {
												"name": "opgang_ois_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['ois_ts']"
											},
											"sink": {
												"name": "opgang_ois_ts",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['Opgang_id']"
											},
											"sink": {
												"name": "opgang_Opgang_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['AdgAdr_id']"
											},
											"sink": {
												"name": "opgang_AdgAdr_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['ObjStatus']"
											},
											"sink": {
												"name": "opgang_ObjStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['NyByg']"
											},
											"sink": {
												"name": "opgang_NyByg",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['Crud_id']"
											},
											"sink": {
												"name": "opgang_Crud_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['ByggeSag_id']"
											},
											"sink": {
												"name": "opgang_ByggeSag_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['OpgStam_id']"
											},
											"sink": {
												"name": "opgang_OpgStam_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['Bygning_id']"
											},
											"sink": {
												"name": "opgang_Bygning_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['Elevator']"
											},
											"sink": {
												"name": "opgang_Elevator",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['DataFelt1']"
											},
											"sink": {
												"name": "opgang_DataFelt1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['DataFelt2']"
											},
											"sink": {
												"name": "opgang_DataFelt2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['DataFelt3']"
											},
											"sink": {
												"name": "opgang_DataFelt3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['SagsType']"
											},
											"sink": {
												"name": "opgang_SagsType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['KomFelt1']"
											},
											"sink": {
												"name": "opgang_KomFelt1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['KomFelt2']"
											},
											"sink": {
												"name": "opgang_KomFelt2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['KomFelt3']"
											},
											"sink": {
												"name": "opgang_KomFelt3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['KomFelt4']"
											},
											"sink": {
												"name": "opgang_KomFelt4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['KomFelt5']"
											},
											"sink": {
												"name": "opgang_KomFelt5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['KomFelt6']"
											},
											"sink": {
												"name": "opgang_KomFelt6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['JourNr']"
											},
											"sink": {
												"name": "opgang_JourNr",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['ESDH_Ref']"
											},
											"sink": {
												"name": "opgang_ESDH_Ref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['SikKlas']"
											},
											"sink": {
												"name": "opgang_SikKlas",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['OPRET_TS']"
											},
											"sink": {
												"name": "opgang_OPRET_TS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['AENDR_TS']"
											},
											"sink": {
												"name": "opgang_AENDR_TS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['Aendr_Funk']"
											},
											"sink": {
												"name": "opgang_Aendr_Funk",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['Ophoert_ts']"
											},
											"sink": {
												"name": "opgang_Ophoert_ts",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['opgang']['Gyldighedsdato']"
											},
											"sink": {
												"name": "opgang_Gyldighedsdato",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['ois_id']"
											},
											"sink": {
												"name": "bygning_ois_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['ois_ts']"
											},
											"sink": {
												"name": "bygning_ois_ts",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['Bygning_id']"
											},
											"sink": {
												"name": "bygning_Bygning_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['Bygningsnr']"
											},
											"sink": {
												"name": "bygning_Bygningsnr",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['ObjStatus']"
											},
											"sink": {
												"name": "bygning_ObjStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['NyByg']"
											},
											"sink": {
												"name": "bygning_NyByg",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['Crud_id']"
											},
											"sink": {
												"name": "bygning_Crud_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['Grund_id']"
											},
											"sink": {
												"name": "bygning_Grund_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['Byggesag_id']"
											},
											"sink": {
												"name": "bygning_Byggesag_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['BygStam_id']"
											},
											"sink": {
												"name": "bygning_BygStam_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['AdgAdr_id']"
											},
											"sink": {
												"name": "bygning_AdgAdr_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['BYG_ANVEND_KODE']"
											},
											"sink": {
												"name": "bygning_BYG_ANVEND_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['Klassifikation']"
											},
											"sink": {
												"name": "bygning_Klassifikation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['AnvKonvKilde']"
											},
											"sink": {
												"name": "bygning_AnvKonvKilde",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['AntLejMKoekken']"
											},
											"sink": {
												"name": "bygning_AntLejMKoekken",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['AntLejUKoekken']"
											},
											"sink": {
												"name": "bygning_AntLejUKoekken",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['OPFOERELSE_AAR']"
											},
											"sink": {
												"name": "bygning_OPFOERELSE_AAR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['OMBYG_AAR']"
											},
											"sink": {
												"name": "bygning_OMBYG_AAR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['MIDL_OPRET_KODE']"
											},
											"sink": {
												"name": "bygning_MIDL_OPRET_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['UdloebDatoMidl']"
											},
											"sink": {
												"name": "bygning_UdloebDatoMidl",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['BYG_VANDFORSY_KODE']"
											},
											"sink": {
												"name": "bygning_BYG_VANDFORSY_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['BYG_AFLOEB_KODE']"
											},
											"sink": {
												"name": "bygning_BYG_AFLOEB_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['BYG_AFLOEB_TILL']"
											},
											"sink": {
												"name": "bygning_BYG_AFLOEB_TILL",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['YDERVAEG_KODE']"
											},
											"sink": {
												"name": "bygning_YDERVAEG_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['TAG_KODE']"
											},
											"sink": {
												"name": "bygning_TAG_KODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['SuppYderVaegMat']"
											},
											"sink": {
												"name": "bygning_SuppYderVaegMat",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['SuppTagDaekMat']"
											},
											"sink": {
												"name": "bygning_SuppTagDaekMat",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['AsbestMateriale']"
											},
											"sink": {
												"name": "bygning_AsbestMateriale",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['bygning']['KILDE_MATR_KODE']"
											},
											"sink": {
												"name": "bygning_KILDE_MATR_KODE",
												"type": "String"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "input_BBR",
									"type": "DatasetReference",
									"parameters": {
										"byggekode": {
											"value": "@item().kode",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_BBR",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy_to_BBR_single",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['ois_id']"
								},
								"sink": {
									"name": "ois_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ois_ts']"
								},
								"sink": {
									"name": "ois_ts",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Enhed_id']"
								},
								"sink": {
									"name": "Enhed_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ObjStatus']"
								},
								"sink": {
									"name": "ObjStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Nybyg']"
								},
								"sink": {
									"name": "Nybyg",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CRUD_ID']"
								},
								"sink": {
									"name": "CRUD_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ByggeSag_id']"
								},
								"sink": {
									"name": "ByggeSag_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['bygning']['ois_id']"
								},
								"sink": {
									"name": "Bygning.ois_id",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "input_BBR",
						"type": "DatasetReference",
						"parameters": {
							"byggekode": 210
						}
					}
				],
				"outputs": [
					{
						"referenceName": "output_BBR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Array byggekoder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup byggekoder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "byggekoder",
					"value": {
						"value": "@activity('Lookup byggekoder').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup byggekoder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from BBR_byggekoder",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"byggekoder": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}