pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,variables('total'))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": "{\n    \"_source\":[\n        \"Vrvirksomhed.cvrNummer\",\n        \"Vrvirksomhed.livsforloeb.periode.gyldigTil\", \n        \"Vrvirksomhed.livsforloeb.periode.gyldigFra\",\n        \"Vrvirksomhed.reklamebeskyttet\",\n        \"Vrvirksomhed.sidstIndlaest\"\n    ],\n    \"track_total_hits\": true,\n    \"query\":{\n        \"bool\":{\n            \"must\":[\n                {\"nested\":{\n                    \"path\":\"Vrvirksomhed.livsforloeb\",\n                    \"query\":{\n                        \"bool\": {\n                            \"must_not\":[{\"exists\":{\"field\":\"Vrvirksomhed.livsforloeb.periode.gyldigTil\"}}],\n                            \"filter\": [{\n                                \"range\": {\n                                    \"Vrvirksomhed.livsforloeb.periode.gyldigFra\": {\n                                        \"gte\": \"1910-01-01\"\n                                        ,\n                                        \"lte\": \"1911-01-01\"\n                                    }\n                                }\n                            }]\n                        }\n                    }\n                }}\n            ]\n        }\n    }\n    ,\n    \"size\":20\n}",
									"additionalHeaders": {
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['_scroll_id']"
											},
											"sink": {
												"name": "_scroll_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['hits']['total']"
											},
											"sink": {
												"name": "total_hits",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigFra']"
											},
											"sink": {
												"name": "gyldigFra",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['livsforloeb'][0]['periode']['gyldigTil']"
											},
											"sink": {
												"name": "gyldigTil",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['cvrNummer']"
											},
											"sink": {
												"name": "cvrNummer",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['sidstIndlaest']"
											},
											"sink": {
												"name": "sidstIndlaest",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['hits']['hits'][0]['_source']['Vrvirksomhed']['reklamebeskyttet']"
											},
											"sink": {
												"name": "reklamebeskyttet",
												"type": "Boolean"
											}
										}
									],
									"collectionReference": "$['hits']['hits']"
								}
							},
							"inputs": [
								{
									"referenceName": "input_CVR",
									"type": "DatasetReference",
									"parameters": {
										"dynamicURL": "cvr-permanent/virksomhed/_search?scroll=2m"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_CVR",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "total",
								"value": {
									"value": "@activity('Copy data1').output.hits.total",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"total": {
				"type": "Integer",
				"defaultValue": 2
			}
		},
		"annotations": []
	}
}